.toggle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 20;
  position: fixed;
  top: 10px;
  right: 10px;
  border: 1px solid #333333;
  background-color: whitesmoke;
  width: 50px;
  height: 25px;
  border-radius: 20px;
}

.toggle-button {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: #333333;
  position: absolute;
  cursor: pointer;
}

